#canvasBackground {
    margin:0;
    height: 100vh;
    aspect-ratio: 1/1;
    position:absolute;
}

#canvasFade{
    margin:0;
    height: 100vh;
    aspect-ratio:1;
    position:absolute;
}

#canvasSmoke{
    margin:0;
    height: 100vh;
    aspect-ratio:1;
    position:absolute;
}

#canvasRain{    
    margin:0;
    height: 100vh;
    aspect-ratio: 1/1;
    position:absolute;
}

#canvasFront {    
    margin:0;
    height: 100vh;
    aspect-ratio: 1/1;
    position:absolute;
}

#canvasDetail {    
    margin:0;
    height: 100vh;
    aspect-ratio: 1/1;
    position:absolute;
}

#canvasStars {    
    margin:0;
    height: 100vh;
    /* width:100%; */
    aspect-ratio: 1/1;
    position:absolute;

    mask-mode: alpha;
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-image: url(images/test\ mask3.png);
    overflow: hidden;
} 

#canvasPlane{    
    margin:0;
    height: 100vh;
    aspect-ratio: 1/1;
    position:absolute;
}
#canvasTrail{    
    margin:0;
    height: 100vh;
    aspect-ratio: 1/1;
    position:absolute;
}

#canvasClouds1{    
    margin:0;
    height: 100vh;
    aspect-ratio: 1/1;
    position:absolute;
}
#canvasClouds2{    
    margin:0;
    height: 100vh;
    aspect-ratio: 1/1;
    position:absolute;
}
#canvasClouds3{    
    margin:0;
    height: 100vh;
    aspect-ratio: 1/1;
    position:absolute;
}

#canvasBird{    
    margin:0;
    height: 100vh;
    /* height:15%; */
    /* aspect-ratio: 1/1; */
    position:absolute;
}

#canvasBird2{    
    margin:0;
    height: 100vh;
    /* height:15%; */
    /* aspect-ratio: 1/1; */
    position:absolute;
}

#canvasBird3{    
    margin:0;
    height: 100vh;
    /* height:15%; */
    /* aspect-ratio: 1/1; */
    position:absolute;
}

#canvasAnimationTest{    
    margin:0;
    height: 100vh;
    aspect-ratio: 1/1;
    position:absolute;
}

#canvasBorealis{    
    margin:0;
    height: 100vh;
    aspect-ratio: 1/1;
    position:absolute;
}

#canvasLights{    
    margin:0;
    height: 100vh;
    aspect-ratio: 1/1;
    position:absolute;
}

#canvasTest{    
    margin:0;
    height: 100vh;
    aspect-ratio: 1/1;
    position:absolute;
}

#canvasButtons{    
    margin:0;
    height: 100vh;
    aspect-ratio: 1/1;
    position:absolute;
}


#canvasContainer {
    position:relative;
}

body {
    min-height: 100%;
    height:100%;
    margin:0;
    z-index: 2;
    display:flex;
    overflow:hidden;
    background: rgba(0,0,0,0);
}

button {
    opacity:0.2;
    position:relative;
    display:block;
    flex-direction: row;
    z-index: 9999;

    margin:10px;
    height:20px;
  }
  #firstRow {
    position:absolute;
    display: flex
  }

  #secondRow {
    top:30px;
    display: flex; 
    position:absolute;
  }

  #thirdRow {
    top:60px;
    display: flex; 
    position:absolute;
  }
